* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

/* Main section styles */

.display-none {
	color: #fff;
	opacity: 0;
}

#mainSection {
	background-color: #f61067;
	height: 100vh;
	overflow-y: scroll;
	padding: 100px 100px 0 100px;
}

.hero {
	margin-bottom: 25vh;
}

#rotatingText {
	display: inline-block;
	color: #fff;
}

.hero-text,
.subtext {
	color: #fff;
	opacity: 1;
	transition: 1s;
}

.hero-text {
	font-size: 60px;
	margin-bottom: 10px;
	display: inline-block;
}

.subtext {
	font-size: 30px;
}

.buttons {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	opacity: 1;
	transition: 1s;
}

.left-top,
.right-bottom {
	width: 50%;
	min-width: 250px;
	display: flex;
	flex-wrap: nowrap;
	align-content: space-between;
}

.main-links {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.main-links:hover,
.main-links:active {
	transform: scale(1.2);
}

.main-icons {
	width: 50%;
	height: auto;
	margin: 0 auto 10px auto;
}

/* Main section responsive styles */

@media only screen and (max-width: 900px) {
	.hero {
		margin-bottom: 10vh;
	}

	.hero-text {
		font-size: 40px;
	}

	.subtext {
		font-size: 20px;
	}

	.left-top {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 700px) {
	#mainSection {
		padding: 50px 30px 0 30px;
	}
}

@media only screen and (max-width: 450px) {
	.hero-text {
		font-size: 30px;
	}

	.subtext {
		font-size: 15px;
	}
}

